.navbar{
  height:100px;
  background-image: url("images/bg_header.jpg");
  position:fixed;
}
.btn{
  width:41px;
  height:88px;
  background-image: url("images/cible-desc.png");
}
.item{
  font-size: 0.7em;
}
.card{
  border:solid 1px red;
  border-radius:5px;
}
.container-img{
  border:solid 1px red;
  border-radius:5px;
}
.img-fluid{
  max-width:520px;
  height:auto;
}
.container-text-img{
  background-color: #015e05;
  border-radius: 5px;
}
.container-text{
  background-color: #015e05;
  border-radius: 5px;
}
.card-title{
  background-color: red;
  border-radius:5px;
}